<% if session[:user_id] %>
  <h3>Friends</h3>
  <% if current_user.friends.count > 0 %>
    <ul class="no-list">
      <% current_user.friends.each do |friend| %>
        <li><a href="/users/<%= friend.id %>"><%= friend.firstname %> <%= friend.lastname %></a></li>

      <% end %>
    </ul>
    <% else %>
    <p><em>Link up with your friends to see their games.</em></p>
  <% end %>
  <%= button_to('Find Friends', users_path, :class => 'btn btn-purple btn-sm', :method => :get)  %>
<% end %>
  <% if current_user && current_user.groups.length > 0 %>
    <div id="groups">
      <h4>Groups</h4>
      <ul class="no-list margin-10">
      <% current_user.groups.each do |group| %>
        <li>
        <a href="/groups/<%= group.id %>"><%= group.name %></a>
      </li>
      <% end %>
    </ul>
    </div>
  <% end %>
