<ul class="no-list">
  <br>
  <% if !@games.empty? %>
    <% @games.each do |game| %>
      <li>
        <a href ="games/<%= game.id %>"> <img src=<%= game.thumbnail_url %> style="width:35px;height:35px;"></a>
        <a href="games/<%= game.id %>"><%= game.name %></a>
        <p><%= game.short_description %></p>
      </li>
    <% end %>
    <% else %>
      <p>No results</p>
  <% end %>
</ul>
<div class="pad-15">
  <%= form_tag("/games/add", method: "get") do %>
    <%= submit_tag("Add to Database") %>
  <% end %>
</div>
