  <div class="well inline-headers">
    <h6>Sort Games By:</h6>
    <h6><%= link_to "Most Popular", :sort => "popularity" %></h6>
    <h6><%= sortable "name" %></h6>
    <h6><%= sortable "created_at" %></h6>
  </div>
<ul class="no-list">
  <br>
  <% if !@games.empty? %>
    <% @games.each do |game| %>
      <li>
        <img src=<%= game.thumbnail_url %> style="width:35px;height:35px;">
        <a href="games/<%= game.id %>"><%= game.name %></a>
        <p><%= game.short_description %></p>
      </li>
    <% end %>
    <% else %>
      <p>No results</p>
  <% end %>
</ul>
<div class="pad-15">
  <%= form_tag("/games/add", method: "get") do %>
    <%= submit_tag("Add to Database") %>
  <% end %>
</div>
