<ul class="no-list">
  <br>
  <% if !@games.empty? %>
    <% @games.each do |game| %>
      <li>
        <img src=<%= game.thumbnail_url %> style="width:35px;height:35px;">
        <a href="games/<%= game.id %>"><%= game.name %></a>
        <p><%= game.short_description %></p>
      </li>
    <% end %>
    <% else %>
      <p>No results</p>
  <% end %>
</ul>
<div>
  <%= form_tag(games_path, method: "get") do %>
    <%= text_field_tag :name, nil, placeholder: "Search" %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
