<!DOCTYPE html>
<html>
<head>
  <title>BestGames</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container container-fluid">

  <%= render template: "sessions/navbar" %>

  <div class="sidebar col-md-3">
    <!-- friends section -->
    <%= render template: "users/_friends"%>
    <!-- category section -->
    <%= render template: "tags/_sidebar" %>
  </div>

  <div class="col-md-9" id="main-content">
    <%= yield %>
  </div>

</div>

</body>
</html>
