<!DOCTYPE html>
<html>
<head>
  <title>BestGames</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container container-fluid">

  <div class="col-md-12 main-nav">
    <div class="col-md-8">
    <h3 class="inline-text">Welcome to Game Cow!</h3>
      <ul class="no-list inline-list">
        <li><a href="#">Register</a></li>
        <li><a href="#">Games</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <form>
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>

  <div class="sidebar col-md-3">
    <!-- friends section -->
    <%= render template: "users/_friends"%>
    <!-- category section -->
    <%= render template: "tags/_sidebar" %>
  </div>

  <div class="col-md-9">
    <%= yield %>
  </div>

</div>

</body>
</html>
